<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body style="height: 500px">
    {% if user.is_authenticated %}
    {{ user.username }}，<a href="{% url 'board:logout' %}">登出</a>
        <h1>留言板</h1>
        <p>
            <b style="width: 10%;color: red">用户名</b>
            <b style="width: 10%;color: red">标题</b>
            <b style="width: 15%;color: red">留言时间</b>
            <b style="width: 45%;color: red">留言内容</b>
            <b style="width: 5%;color: red">点赞数</b>
            <b style="width: 5%;color: red">点踩数</b>
            <b style="width: 5%"></b>
            <b style="width: 5%"></b>
        </p>
        {% for message in messages %}
            <form method="post" action="{% url 'board:like' %}">
            <div>{% csrf_token %}</div>
            <b style="width: 10%;">{{ message.title }}</b>
            <b style="width: 10%">{{ message.username }}</b>
            <b style="width: 15%">{{ message.data_added }}</b>
            <b style="width: 45%">{{ message.text }}</b>
            <b style="width: 5%">{{ message.like_num }}</b>
            <b style="width: 5%">{{ message.dislike_num }}</b>
            <input type="hidden" id="mes_id" name="mes_id" value="{{ message.id }}"/>
            <input type="submit" name="like" value='赞' class="button"></input>
            <input type="submit" name="dislike" value="踩" class="button"></input>
            </form>
        {% endfor %}
        <form action="{% url 'board:index' %}" method="POST" style="height: 500px;justify-content: start;">
            <div>{% csrf_token %}</div>
            <div>
                <label for="title">请输入标题</label>
                <input style="width: 100%;height: 100%" type="text" id="title" name="title" required>
                <label for="text">请输入留言</label>
                <input style="width: 100%;height: 100%" type="text" id="text" name="text" required>
                <button type="submit">提交留言</button>
            </div>
        </form>
    {% else %}
    <a href="{% url 'board:login' %}">登录</a>
    {% endif %}
    <style type="text/css">
        * {
	        box-sizing: border-box;
        }

        form,p {
            display: flex;
            flex-wrap: wrap;
	        flex-direction: row;
	        align-items: center;
  	        justify-content: center;
        }
    </style>
    <script>

    </script>
</body>
