<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
{% extends "board/base.html" %}
{% block content %}
<h1>登录</h1>
<div>
    <form method="POST" action="{% url 'board:login' %}">
        {% csrf_token %}
        <div>
            <label for="username">用户名</label>
            <input type="text" id="username" name="username" autofocus required/>
        </div>
        <div>
            <label for="password">密码</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <br>{{ error }}<br>
        &nbsp;&nbsp;&nbsp;<button type="submit">登录</button>&nbsp;&nbsp;&nbsp;
    </form>
    &nbsp;&nbsp;
    <a href={% url 'board:register' %}>
        <button>注册</button>
    </a>
</div>
{% endblock %}
</body>
</html>